body {
  background-color: #dddddd;

}
h2 {
  color: #ffffff;
}
p {
  color: #ffffff;
}

#loginDiv {
  width: 25%;
  height: 45%;
  background-color: #757575;
  font-family: Brush Script MT, cursive;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 3px;
  padding-bottom: 28px;
}

#signIn {
  font-family: Brush Script MT, cursive;
  color: #ffffff;
  background-color: #fe5c00;

}
#createAccount {
  font-family: Brush Script MT, cursive;
  color: #ffffff;
  background-color: #fe5c00;
  font-family: Brush Script MT, cursive;
}
#forgotPassword {
  color: #ffffff;
}
#copyright {
  color: #ffffff;
}
